body {
    background: #0044cc;
    font-family: "Poppins", sans-serif;
    color: white;
    margin: 0;
  }
  
  header {
    background: #003bb3;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 50px;
    margin-right: 10px;
  }
  
  form {
    background: #fff;
    width: 400px;
    margin: 3rem auto;
    padding: 2rem;
    border-radius: 12px;
    color: #000;
    display: flex;
    flex-direction: column;
  }
  
  select, input {
    margin: 10px 0;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
  }
  
  .botoes {
    display: flex;
    justify-content: space-between;
  }
  
  button {
    padding: 10px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
  }
  
  button[type="submit"] {
    background: #0044cc;
    color: white;
  }
  button#cancelar {
    background: #ccc;
  }
  